{% block navigation %}
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">




        <a href="{{ path('casper_bounty_projects_homepage') }}" class="navbar-brand">Casper</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
                aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <div class="container d-flex justify-content-between">
                    <a href="{{ path('casper_bounty_projects_homepage') }}" class="navbar-brand">Project Name</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader"
                            aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>


                <li class="nav-item {% if app.request.attributes.get('_route') == 'casper_bounty_projects_homepage' %}active{% endif %}">
                    <a class="nav-link" href="{{ path('casper_bounty_projects_homepage') }}">To main</a>
                </li>
                <li class="nav-item {% if app.request.attributes.get('_route') == 'casper_bounty_projectTargets' %}active{% endif %}">
                    <a class="nav-link " href="{{ path('casper_bounty_projectTargets',{'projectId':projectId}) }}">Targets</a>
                </li>
                <li class="nav-item {% if app.request.attributes.get('_route') == 'casper_bounty_projects_addTargets' %}active{% endif %}">
                    <a class="nav-link" href="{{ path('casper_bounty_projects_addTargets',{'projectId':projectId}) }}">Add targets</a>
                </li>
                <li class="nav-item {% if app.request.attributes.get('_route') == 'casper_bounty_results_main' %}active{% endif %}">
                    <a class="nav-link" href="{{ path('casper_bounty_results_main',{'projectId':projectId}) }}">Results</a>
                </li>
                </div>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
    <!--<nav class="navbar navbar-inner navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Project name</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="">
                        <a href=""></a>
                    </li>
                    <li class="">
                        <a href="">Add Targets</a>
                    </li>
                    <li>
                        <a href="">To main</a>
                    </li>
                    <li>
                        <a href="">Results list</a>
                    </li>


                </ul>
            </div>nav-collapse
        </div>
    </nav>
    --!>



{% endblock %}