{% extends '@CasperBountyProjects/sin.html.twig' %}
{% block targets %}
    <table class="table table-condensed targetsTable col-md-2">
        <thead>
        <tr>
            <th>main domain</th>
            <th>subdomains</th>
            <th>scans</th>
            <th>btns</th>
        </tr>
        </thead>

        <tbody>
        {% for target in targets %}
            <tr class="{%   if target.type=='maindomain' %}success{% endif %}">
                <td class="col-md-4"><a href="{{ path('casper_bounty_targets_targetid',{'targetId':target.id,'projectId':projectId}) }}">{{ target.hostName }}</a></td>
                <td>{{ target.type }}</td>
                <td>-</td>
                <td>

                    <!--<button type="button" class="btn btn-sm btn-success"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></button>
                    -->
                    <button type="button" class="btn btn-xs btn-danger"><i class="far fa-list-alt"
                                                                              aria-hidden="true"></i></button>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
{% block notifications %}
        Notifications
    {#<table class="table table-condensed notifTable col-md-2">#}
        {#<thead>#}
        {#<tr>#}
            {#<th>target</th>#}
            {#<th>title</th>#}
            {#<th>priority</th>#}
            {#<th>btns</th>#}
        {#</tr>#}
        {#</thead>#}

        {#<tbody>#}
        {#{% for target in targets %}#}
            {#<tr class="{%   if target.type=='maindomain' %}success{% endif %}">#}
                {#<td class="col-md-4"><a href="{{ path('casper_bounty_targets_targetid',{'targetId':target.id,'projectId':projectId}) }}">{{ target.hostName }}</a></td>#}
                {#<td>{{ target.type }}</td>#}
                {#<td>-</td>#}
                {#<td>#}
                    {#<button type="button" class="btn btn-xs btn-danger"><span class="glyphicon glyphicon-trash"#}
                                                                              {#aria-hidden="true"></span></button>#}
                {#</td>#}
            {#</tr>#}
        {#{% endfor %}#}
        {#</tbody>#}
    {#</table>#}

{% endblock %}
