{% extends "@CasperBountyFront/base.html.twig" %}

{% block pageTitle %}<title>Add projects page</title>{% endblock %}

{% block body %}
    <div class="container">

        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#projectList" role="tab">Project List</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#menu1" role="tab">Add project</a>
            </li>
        </ul>

        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="projectList" role="tabpanel" aria-labelledby="nav-home-tab">
                <div class="list-group" id="projectList">
                    {% for p in projects %}
                        <a class="list-group-item list-group-item-action align-content-center"
                           style="text-align: center;"
                           href="{{ path('casper_bounty_projects_id',{'projectId':p.projectId}) }}">
                            <div class="d-inline float-left">
                                <span class="pull-left">{{ p.name }}</span>
                            </div>
                            <div class="d-inline float-right">
                                <span class="badge badge-pill badge-primary pull-right">domains: {{ p.targetid|length }}</span>
                            </div>
                        </a>
                    {% endfor %}
                </div>
            </div>
            <div class="tab-pane fade" id="menu1" data-toggle="tab" role="tabpanel">
                    {{ form_start(form,{'attr':{'class':'addProejctForm'}}) }}
                    {{ form_widget(form) }}
                    {{ form_end(form) }}
            </div>
        </div>

    </div>
{% endblock %}