{% extends '@CasperBountyFront/base.html.twig' %}

{% block body %}
    <script>
        function runTool(profileId) {
            var arr = [];
            var checkedValue = $('#targets:checked').val();
            console.log(checkedValue);
            var cv = document.getElementById('targets').value;
            $("#targets:checked").each(function () {
                arr.push($(this).val());
            });
            console.log(arr);

            $.post("/tools/" + profileId + "/run", {'targetsArr': arr.toString()}, function (data, status) {
                console.log("Data: " + data + "\nStatus: " + status);
            });

        }

        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })



    </script>
    <div class="container">

        {% if errorMsg is defined %}
            <div class="alert alert-danger">
                <strong>{{ errorMsg }}</strong> Indicates a successful or positive action.
            </div>
        {% endif %}


        <div class="row">
            <div class="col-lg-8">
                <form method="post" action="{{ path('casper_bounty_tools_getips',{'projectId':projectId}) }}">

                    <div class="checkbox">
                        <label>
                            <input type="checkbox" class="check col-md-5" id="checkAll"> Select All
                        </label>
                    </div>
                    <table class="table table-condensed subtargetsTable">
                        <thead>
                        <tr>
                            <td></td>
                            <th>host</th>
                            <th>id</th>
                            <th>state</th>
                            <th>state</th>
                            <th></th>
                        </tr>
                        </thead>

                        <tbody>
                        {% if maintarget is defined %}

                            <tr class="success">
                                <td><input type="checkbox" class="dinax" id="targets" name="targetsArr[]"
                                           value="{{ maintarget.targetid }}"></td>
                                <td class="col-md-4">
                                    <a href="{{ path('casper_bounty_targets_targetid',{'targetId':maintarget.targetid,'projectId':projectId}) }}"
                                       data-toggle="tooltip" data-placement="right" data-html="true"
                                       title="
                                            {% if maintarget.serviceid[0] is defined %}

                                                {% for service in maintarget.serviceid %}{{ service.port }} {{ service.service }}
                                                    {% if service.state==1 %}
                                                    <span class='text-success'>open</span>
                                                    {% else %}
                                                    <span class='text-danger'>close</span>
                                                    {% endif %}<br>
                                                {% endfor %}
                                                {% else %}
                                                <span class='text-warning'>????</span>
                                            {% endif %}">{{ maintarget.host }}

                                    </a>

                                    <a href="{{ path('casper_bounty_detTargetAction',{'targetId':maintarget.targetid,'projectId':projectId}) }}">
                                        info
                                    </a>
                                    {% for ip in maintarget.getIpId() %}
                                        <br>
                                        <em>
                                            <a href="{{ path('casper_bounty_domainsByIp',{'targetId':ip.targetid,'projectId':projectId}) }}"
                                               data-toggle="tooltip" data-html="true" data-placement="right"
                                               title="
                                            {% if ip.serviceid is not empty %}
                                                {% for service in ip.serviceid %}{{ service.port }} {{ service.service }}
                                                    {% if service.state==1 %}
                                                    <span class='text-success'>open</span>
                                                    {% else %}
                                                    <span class='text-danger'>close</span>
                                                    {% endif %}<br>
                                                {% endfor %}
                                                {% else %}
                                                <span class='text-warning'>close</span>
                                            {% endif %}"
                                            >
                                                {{ ip.host }}
                                            </a>
                                            <a href="{{ path('casper_bounty_detTargetAction',{'targetId':ip.targetid,'projectId':projectId}) }}">
                                                info
                                            </a>
                                        </em>
                                    {% endfor %}
                                </td>
                                <td>
                                    {{ maintarget.type }}
                                </td>
                                <td>

                                    <i class="state {% if maintarget.state== "not_resolve" or maintarget.state=="down" %}fas fa-desktop text-danger{% elseif maintarget.state=="up" %}fas fa-desktop text-success{% else %}fa fa-question text-info{% endif %}"
                                       aria-hidden="true"></i>

                                </td>
                                <td>
                                    <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                                        <button type="button" class="btn btn-info"
                                                data-id="{{ maintarget.targetid }}">
                                            <i class="fa fa-list fa-xs"></i>
                                        </button>
                                        <button type="button" class="btn btn-secondary btn-xs">Middle</button>
                                        <button type="button" class="btn btn-secondary btn-xs">Right</button>
                                    </div>
                                </td>
                            </tr>
                        {% endif %}

                        {% if targetInfo is defined %}
                            {% for target in targetInfo.subtargets %}
                                <tr class="{% if target.type=='maindomain' %}success{% endif %}">
                                    <td><input type="checkbox" class="dinax" id="targets" name="targetsArr[]"
                                               value="{{ target.targetid }}"></td>
                                    <td class="col-md-4">
                                        <!--<a href="{{ path('casper_bounty_targets_targetid',{'targetId':target.targetid,'projectId':projectId}) }}" >{{ target.host }}</a>-->

                                        <a href="{{ path('casper_bounty_detTargetAction',{'targetId':target.targetid,'projectId':projectId}) }}"
                                           data-toggle="tooltip" data-placement="right"
                                           data-html="true"
                                           title="
                                            {% if target.serviceid[0] is defined %}

                                                {% for service in target.serviceid %}{{ service.port }} {{ service.service }}
                                                    {% if service.state==1 %}
                                                    <span class='text-success'>open</span>
                                                    {% else %}
                                                    <span class='text-danger'>close</span>
                                                    {% endif %}<br>
                                                {% endfor %}
                                                {% else %}
                                                <span class='text-warning'>????</span>
                                            {% endif %}">{{ target.host }}</a>
                                        <a href="{{ path('casper_bounty_detTargetAction',{'targetId':target.targetid,'projectId':projectId}) }}">
                                            info
                                        </a>
                                        {% for ip in target.getIpid() %}
                                            <br>
                                            <em>
                                                <a href="{{ path('casper_bounty_domainsByIp',{'targetId':ip.targetid,'projectId':projectId}) }}"
                                                   data-toggle="tooltip" data-placement="right"
                                                   data-html="true"
                                                   title="
                                            {% if ip.serviceid[0] is defined %}

                                                {% for service in ip.serviceid %}{{ service.port }} {{ service.service }}
                                                    {% if service.state==1 %}
                                                    <span class='text-success'>open</span>
                                                    {% else %}
                                                    <span class='text-danger'>close</span>
                                                    {% endif %}<br>
                                                {% endfor %}
                                                {% else %}
                                                <span class='text-warning'>????</span>
                                            {% endif %}">
                                                    {{ ip.host }}
                                                </a>
                                                <a href="{{ path('casper_bounty_detTargetAction',{'targetId':ip.targetid,'projectId':projectId}) }}">
                                                    info
                                                </a>
                                            </em>
                                        {% endfor %}
                                    </td>
                                    <td>{{ target.type }}</td>
                                    <td>
                                        <i class="state {% if target.state== "not_resolve" or target.state=="down" %}fas fa-desktop text-danger{% elseif target.state=="up" %}fas fa-desktop text-success{% else %}fa fa-question text-info{% endif %}"
                                           aria-hidden="true"></i>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-xs btn-default">
                                            <span class="glyphicon glyphicon-screenshot" aria-hidden="true"></span>
                                        </button>
                                        <button type="button" class="btn btn-xs btn-default">
                                            <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
                                        </button>

                                        <button type="button" class="btn btn-xs btn-default" data-toggle="modal"
                                                data-target="#tasksModal" data-id="{{ maintarget.targetid }}">
                                            <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
                                        </button>

                                    </td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                        </tbody>
                    </table>
                </form>
            </div>
            <div class="col-lg-4">
                <div class="dropdown">
                    <button class="btn btn-sm btn-primary dropdown-toggle position-fixed" type="button"
                            data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                        Run profile
                        <span class="caret"></span>
                    </button>

                    {#<button class="btn btn-info btn-sm" type="submit">Get ips</button>#}
                    <div class="dropdown-menu">
                        <a class="dropdown-item bg-success"
                           href="{{ path('casper_bounty_tools_homepage') }}"><span
                                    class="glyphicon glyphicon-pencil"></span> Create new profile
                        </a>
                        {% for profile in profiles %}
                            <div class="dropdown-item">
                                <div class="row">
                                    <div class="col-md-10 profilename">
                                        <a href="#" onclick="runTool({{ profile.profileId }})"> {{ profile.name }}
                                            (<span>{{ profile.toolId.name }}</span>)</a>
                                    </div>
                                    <div class="col-md-2">
                                        <i class="fa fa-exclamation-circle text-right" aria-hidden="true"
                                           data-toggle="tooltip"
                                           data-placement="right" title="{{ profile.cmd }}"></i>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>

                {#<ul>#}
                {#{% if group is defined %}#}
                {#{% for ipgr in group %}#}
                {#<li>{{ ipgr.cnt }} |#}
                {#<a href="{{ path('casper_bounty_domainsByIp',{'targetId':ipgr.targetid,'projectId':projectId}) }}">{{ ipgr.host }}</a>#}
                {#</li>#}
                {#{% endfor %}#}
                {#{% endif %}#}
                {#</ul>#}
            </div>
        </div>


    </div>

    <script>
        $("#checkAll").click(function () {
            console.log($(".dinax").length);
            $(".dinax").prop('checked', $(this).prop('checked'));
        });

//        $("#checkAll").click(function () {
//            $('#targets').not(this).checkbox({checked: this.checked});
//        });
    </script>
{% endblock %}